*.DS_Store
minifab/
utility-emissions-channel/.project
utility-emissions-channel/egrid-data-loader/*.xlsx
utility-emissions-channel/egrid-data-loader/*.txt
utility-emissions-channel/egrid-data-loader/*.pdf
utility-emissions-channel/chaincode/node/lib/*.xlsx
utility-emissions-channel/chaincode/node/lib/*.txt
utility-emissions-channel/chaincode/node/lib/*.pdf
