*.DS_Store
.env
minifab/
node_modules
slitherlog.json


# 1. multi-cloud-deployment
#   a. chaincode
multi-cloud-deployment/chaincode/packaging/code.tar.gz
multi-cloud-deployment/chaincode/packaging/marbles-chaincode.tgz
#   b. deploy-aws
multi-cloud-deployment/deploy-aws/packaging/code.tar.gz
multi-cloud-deployment/deploy-aws/packaging/marbles-chaincode.tgz


# 2. new-emission-token-network
net-emissions-token-network/node_modules
#Hardhat files
net-emissions-token-network/cache
net-emissions-token-network/artifacts
net-emissions-token-network/coverage
net-emissions-token-network/coverage.json
net-emissions-token-network/.ethereum-config.js
net-emissions-token-network/deployments/localhost
net-emissions-token-network/deployments/SlitherResults

app/frontend/.DS_Store
app/frontend/coverage
app/frontend/react-app/.env
app/frontend/react-app/build

# 3. open-offsets-directory
open-offsets-directory/node_modules/


# 4. emissions-data
#  a. typescript_app
emissions-data/typescript_app/dist
emissions-data/typescript_app/node_modules
emissions-data/typescript_app/local-bucket
emissions-data/typescript_app/playground
emissions-data/typescript_app/.env.*
emissions-data/typescript_app/.nyc_output
emissions-data/typescript_app/coverage

#  b. chaincode
emissions-data/chaincode/emissionscontract/packaging/*.tar.gz
emissions-data/chaincode/emissionscontract/packaging/*.tgz
emissions-data/chaincode/emissionscontract/typescript/node_modules
emissions-data/chaincode/emissionscontract/typescript/dist
emissions-data/chaincode/datalock/vendor
#  c. docker-compose-setup
emissions-data/docker-compose-setup/channel-artifacts/*.tx
emissions-data/docker-compose-setup/channel-artifacts/*.block
emissions-data/docker-compose-setup/ledgers
emissions-data/docker-compose-setup/ledgers-backup
emissions-data/docker-compose-setup/channel-artifacts/*.json
emissions-data/docker-compose-setup/org3-artifacts/crypto-config/*
emissions-data/docker-compose-setup/application
emissions-data/docker-compose-setup/organizations/fabric-ca/auditor1/*
emissions-data/docker-compose-setup/organizations/fabric-ca/auditor2/*
emissions-data/docker-compose-setup/organizations/fabric-ca/auditor3/*
emissions-data/docker-compose-setup/organizations/ordererOrganizations/*
emissions-data/docker-compose-setup/organizations/peerOrganizations/*
emissions-data/docker-compose-setup/system-genesis-block/*
emissions-data/docker-compose-setup/*.tar.gz
emissions-data/docker-compose-setup/log.txt
emissions-data/docker-compose-setup/node_modules
emissions-data/docker-compose-setup/data/node_modules
emissions-data/docker-compose-setup/data/dist
emissions-data/docker-compose-setup/data/orbitdb
emissions-data/docker-compose-setup/data/src/orbitdb
emissions-data/docker-compose-setup/*.zip
emissions-data/docker-compose-setup/*.xlsx
emissions-data/docker-compose-setup/*.csv
emissions-data/docker-compose-setup/*.txt
emissions-data/docker-compose-setup/*.pdf
emissions-data/docker-compose-setup/data/*.zip
emissions-data/docker-compose-setup/data/*.xlsx
emissions-data/docker-compose-setup/data/*.xls
emissions-data/docker-compose-setup/data/*.csv
emissions-data/docker-compose-setup/data/*.txt
emissions-data/docker-compose-setup/data/*.pdf
emissions-data/docker-compose-setup/chaincode/code.tar.gz
emissions-data/docker-compose-setup/chaincode/*-chaincode.tgz
emissions-data/docker-compose-setup/blockchain-explorer/**/crypto
emissions-data/docker-compose-setup/blockchain-explorer/**/crypto-config
emissions-data/docker-compose-setup/chaincode/**/*.tar.gz
emissions-data/docker-compose-setup/chaincode/**/*.tgz
emissions-data/.project
emissions-data/docker-compose-setup/bin
emissions-data/docker-compose-setup/bin_mac
emissions-data/docker-compose-setup/config

secure-identities/vault-identity/node_modules
secure-identities/vault-identity/package-lock.json
secure-identities/vault-identity/dist

secure-identities/identity-ui/node_modules
secure-identities/identity-ui/package-lock.json
secure-identities/identity-ui/dist
.vscode

net-emissions-token-network/token-query-server/node_modules
net-emissions-token-network/token-query-server/.env
net-emissions-token-network/token-query-server/**/*.js


open-offsets-directory/node-server/node_modules/.pnpm
open-offsets-directory/node-server/node_modules
open-offsets-directory/react/build
open-offsets-directory/react/node_modules
net-emissions-token-network/deployments/goerli/solcInputs
open-offsets-directory/node-server/pnpm-lock.yaml
open-offsets-directory/react/pnpm-lock.yaml
secure-identities/ws-wallet/pnpm-lock.yaml
open-offsets-directory/data/projects-v3
emissions-data/chaincode/go/go.sum
emissions-data/chaincode/node/lib/aws-config.js
emissions-data/docker-compose-setup/scripts/ansible/vagrant/.vagrant
emissions-data/docker-compose-setup/scripts/ansible/vagrant/ansible.log
emissions-data/typescript_app/pnpm-lock.yaml
emissions-data/package-lock.json
xaa
emissions-data/docker-compose-setup/scripts/ansible/aws-vpc
emissions-data/typescript_app/src/blockchain-gateway/I-gateway.js
emissions-data/typescript_app/src/blockchain-gateway/config.js
emissions-data/typescript_app/src/blockchain-gateway/netEmissionsTokenNetwork.js
emissions-data/typescript_app/src/blockchain-gateway/signer.js
emissions-data/typescript_app/src/errors/clientError.js
emissions-data/typescript_app/src/utils/logger.js
emissions-data/chaincode/emissionscontract/typescript/**/*.js
open-offsets-directory/data/.~lock.VCS_retirements.csv#
net-emissions-token-network/my_notes.txt


supply-chain/*.pem
app/supply-chain-api/example/venv
__pycache__
.idea


data/**/node_modules
data/orbitdb/orbitdb*
data/orbitdb/orbitIpfs*
data/**/*.js

net-emissions-token-network/deployments/bsctestnet/solcInputs
