*.DS_Store
.env
minifab/
node_modules
slitherlog.json
dist


# 1. multi-cloud-deployment
#   a. chaincode
multi-cloud-deployment/chaincode/packaging/code.tar.gz
multi-cloud-deployment/chaincode/packaging/marbles-chaincode.tgz
#   b. deploy-aws
multi-cloud-deployment/deploy-aws/packaging/code.tar.gz
multi-cloud-deployment/deploy-aws/packaging/marbles-chaincode.tgz


# 2. new-emission-token-network
hardhat/node_modules
#Hardhat files
hardhat/cache
hardhat/artifacts
hardhat/coverage
hardhat/coverage.json
hardhat/.ethereum-config.js
hardhat/deployments/localhost
hardhat/deployments/SlitherResults

app/frontend/.DS_Store
app/frontend/coverage
app/frontend/react-app/.env
app/frontend/react-app/build

app/methane/client/build
app/methane/client/.env
app/methane/server/dist
app/methane/server/.env

# 3. open-offsets-directory
open-offsets-directory/node_modules/


# 4. fabric
#  a. typescript_app
fabric/typescript_app/dist
fabric/typescript_app/node_modules
fabric/typescript_app/local-bucket
fabric/typescript_app/playground
fabric/typescript_app/.env.*
fabric/typescript_app/.nyc_output
fabric/typescript_app/coverage

#  b. chaincode
fabric/chaincode/emissionscontract/packaging/*.tar.gz
fabric/chaincode/emissionscontract/packaging/*.tgz
fabric/chaincode/emissionscontract/typescript/node_modules
fabric/chaincode/emissionscontract/typescript/dist
fabric/chaincode/datalock/vendor
#  c. docker-compose-setup
fabric/docker-compose-setup/channel-artifacts/*.tx
fabric/docker-compose-setup/channel-artifacts/*.block
fabric/docker-compose-setup/ledgers
fabric/docker-compose-setup/ledgers-backup
fabric/docker-compose-setup/channel-artifacts/*.json
fabric/docker-compose-setup/org3-artifacts/crypto-config/*
fabric/docker-compose-setup/application
fabric/docker-compose-setup/organizations/fabric-ca/auditor1/*
fabric/docker-compose-setup/organizations/fabric-ca/auditor2/*
fabric/docker-compose-setup/organizations/fabric-ca/auditor3/*
fabric/docker-compose-setup/organizations/ordererOrganizations/*
fabric/docker-compose-setup/organizations/peerOrganizations/*
fabric/docker-compose-setup/system-genesis-block/*
fabric/docker-compose-setup/*.tar.gz
fabric/docker-compose-setup/log.txt
fabric/docker-compose-setup/node_modules
fabric/docker-compose-setup/data/node_modules
fabric/docker-compose-setup/data/dist
fabric/docker-compose-setup/data/orbitdb
fabric/docker-compose-setup/data/src/orbitdb
fabric/docker-compose-setup/*.zip
fabric/docker-compose-setup/*.xlsx
fabric/docker-compose-setup/*.csv
fabric/docker-compose-setup/*.txt
fabric/docker-compose-setup/*.pdf
fabric/docker-compose-setup/data/*.zip
fabric/docker-compose-setup/data/*.xlsx
fabric/docker-compose-setup/data/*.xls
fabric/docker-compose-setup/data/*.csv
fabric/docker-compose-setup/data/*.txt
fabric/docker-compose-setup/data/*.pdf
fabric/docker-compose-setup/chaincode/code.tar.gz
fabric/docker-compose-setup/chaincode/*-chaincode.tgz
fabric/docker-compose-setup/blockchain-explorer/**/crypto
fabric/docker-compose-setup/blockchain-explorer/**/crypto-config
fabric/docker-compose-setup/chaincode/**/*.tar.gz
fabric/docker-compose-setup/chaincode/**/*.tgz
fabric/.project
fabric/docker-compose-setup/bin
fabric/docker-compose-setup/bin_mac
fabric/docker-compose-setup/config

fabric/docker-compose-setup/scripts/ansible/aws-vpc
fabric/typescript_app/src/blockchain-gateway/I-gateway.js
fabric/typescript_app/src/blockchain-gateway/config.js
fabric/typescript_app/src/blockchain-gateway/netEmissionsTokenNetwork.js
fabric/typescript_app/src/blockchain-gateway/signer.js
fabric/typescript_app/src/errors/clientError.js
fabric/typescript_app/src/utils/logger.js
fabric/chaincode/emissionscontract/typescript/**/*.js
fabric/chaincode/go/go.sum
fabric/chaincode/node/lib/aws-config.js
fabric/docker-compose-setup/scripts/ansible/vagrant/.vagrant
fabric/docker-compose-setup/scripts/ansible/vagrant/ansible.log
fabric/typescript_app/pnpm-lock.yaml
fabric/package-lock.json

secure-identities/vault-identity/node_modules
secure-identities/vault-identity/package-lock.json
secure-identities/vault-identity/dist

secure-identities/identity-ui/node_modules
secure-identities/identity-ui/package-lock.json
secure-identities/identity-ui/dist
.vscode

hardhat/token-query-server/node_modules
hardhat/token-query-server/.env
hardhat/token-query-server/**/*.js


open-offsets-directory/node-server/node_modules/.pnpm
open-offsets-directory/node-server/node_modules
open-offsets-directory/react/build
open-offsets-directory/react/node_modules
hardhat/deployments/goerli/solcInputs
open-offsets-directory/node-server/pnpm-lock.yaml
open-offsets-directory/react/pnpm-lock.yaml
secure-identities/ws-wallet/pnpm-lock.yaml
open-offsets-directory/data/projects-v3
xaa
open-offsets-directory/data/.~lock.VCS_retirements.csv#
hardhat/my_notes.txt


supply-chain/*.pem
app/supply-chain-api/example/venv
__pycache__
.idea


data/**/node_modules
data/orbitdb/orbitdb*
data/orbitdb/orbitIpfs*
data/**/*.js

hardhat/deployments/bsctestnet/solcInputs
