.list {
  text-align: left;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar-brand {
  padding-left: 1em;
}

.projects-list li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.spinner-placeholder {
  min-height: 1026px;
}
