.list {
  text-align: left;
  margin: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar-brand {
  padding-left: 1em;
}

.projects-list li:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.spinner-placeholder {
  min-height: 1026px;
}

.list-placeholder {
  min-height: 380px;
}

.inner-list-placeholder {
  min-height: 520px;
}

.empty-placeholder {
  min-height: 480px;
}
