# use live or sandbox
UPS_ENV=live
# credentials
UPS_USER=xxxx
UPS_PASSWORD=xxxx
UPS_KEY=xxxx
# for google APIS, requires the Distance Matrix API for calculating road distance and Geocode for calculating longitude/latitude for air distance
GOOGLE_KEY=xxxxx
# for smart contract
ETH_CONTRACT_ADDRESS=xxxx
ETH_PUBKEY=xxxx
ETH_PRIKEY=xxxx
# needed for the imported modules and SC call
LEDGER_ETH_JSON_RPC_URL="http://localhost:8545"
LEDGER_ETH_NETWORK="hardhat"
LEDGER_EMISSION_TOKEN_CONTRACT_ADDRESS="0xXXXXX"
# must silence the keychain logs
KEYCHAIN_NOLOG=Y
# for IPFS connector
IPFS_URL=http://127.0.0.1:5001

