// Private key of Ethereum deployer wallet
export const PRIVATE_KEY = "";

// Address of contract to connect to
export const CONTRACT_ADDRESS = "";

// Infura project ID
export const INFURA_PROJECT_ID = "";

// Infura project secret
export const INFURA_PROJECT_SECRET = "";
