export const AUDITORS = {"auditor1":
    {"conConfFile": "../../../../../../docker-compose-setup/organizations/peerOrganizations/auditor1.carbonAccounting.com/connection-auditor1.json",
     "msp": "auditor1",
     "caName": "ca.auditor1.carbonAccounting.com",
     "walletPath": "../wallets/auditor1",
     "isPathAbsolute": false
    },
    "auditor2":
    {"conConfFile": "../../../../../../docker-compose-setup/organizations/peerOrganizations/auditor2.carbonAccounting.com/connection-auditor2.json",
     "msp": "auditor2",
     "caName": "ca.auditor2.carbonAccounting.com",
     "walletPath": "../wallets/auditor2",
     "isPathAbsolute": false
    },
    "auditor3":
    {"conConfFile": "../../../../../../docker-compose-setup/organizations/peerOrganizations/auditor3.carbonAccounting.com/connection-auditor3.json",
     "msp": "auditor3",
     "caName": "ca.auditor3.carbonAccounting.com",
     "walletPath": "../wallets/auditor3",
     "isPathAbsolute": false
    },
};

export const ADMIN_USER_ID = "admin";
export const ADMIN_USER_PASSWD = "adminpw";

export const PKCS11_PIN="98765432"
export const PKCS11_LABEL="ForFabric"

// ext chaincode "utilityemissions"
// old chaincode "emissionscontract"
export const CHAINCODE_NAME = "utilityemissions"

export const CHANNEL_NAME = "utilityemissionchannel"

export const API_URL = "https://utilityemissions.opentaps.net"
