{
  "name": "utilityemission-opentaps",
  "version": "0.0.1",
  "client": {
    "organization": "opentaps",
    "connection": {
      "timeout": {
        "peer": {
          "endorser": "300"
        }
      }
    }
  },
  "organizations": {
    "opentaps": {
      "mspid": "opentaps",
      "peers": ["fabric-peer.opentaps.net"],
      "certificateAuthorities": ["fabric-ca.opentaps.net"]
    }
  },
  "orderers": {
    "fabric-orderer.opentaps.net": {
      "url": "grpcs://fabric-orderer.opentaps.net:7050",
      "grpcOptions": {
        "ssl-target-name-override": "fabric-orderer.opentaps.net",
        "hostnameOverride": "fabric-orderer.opentaps.net"
      },
      "tlsCACerts": {
        "pem": "-----BEGIN CERTIFICATE-----xxx-----END CERTIFICATE-----"
      }
    }
  },
  "peers": {
    "fabric-peer.opentaps.net": {
      "url": "grpcs://fabric-peer.opentaps.net:7051",
      "tlsCACerts": {
        "pem": "-----BEGIN CERTIFICATE-----xxx-----END CERTIFICATE-----"
      },
      "grpcOptions": {
        "ssl-target-name-override": "fabric-peer.opentaps.net",
        "hostnameOverride": "fabric-peer.opentaps.net"
      }
    }
  },
  "certificateAuthorities": {
    "fabric-ca.opentaps.net": {
      "url": "https://fabric-ca.opentaps.net:443",
      "caName": "fabric-ca.opentaps.net",
      "tlsCACerts": {
        "pem": ["-----xxx-----END CERTIFICATE-----"]
      },
      "httpOptions": {
        "verify": false
      }
    }
  }
}
