{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": ["plugin:@typescript-eslint/recommended", "prettier", "plugin:prettier/recommended"],
    "rules": {
        "no-prototype-builtins": "error",
        "@typescript-eslint/no-var-requires": "warn",
        "no-dupe-class-members": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
        "indent": ["off"],
        "semi": ["error", "always"],
        "new-cap": ["off"],
        "comma-dangle": ["warn", "always-multiline"]
    }
}